.exp-bg {
	background-image: url(@exp-bg);
	background-repeat: no-repeat;
	background-size: cover;
}

.exp {
	padding: 70px 0 90px;

	@media @tablet {
		padding: 55px 3% 120px;
	}

	@media @laptop {
		padding: 55px 7.08% 120px 0;
	}
}

.exp-slider {
	margin: 65px 0 0;	

	@media @tablet {
		margin: 120px 65px 0 65px;		
	}
}
.slider{
	position: relative;
}
.slider-inner {
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
}
.slider-item {
	width: 100%;
	display: inline-block;
  white-space: normal;
  transition: all .2s linear;
}

.slider-item__img-cnt {
	display: none;

	@media @laptop {
		display: inline-block;
		width: 64%;
		position: relative;
		vertical-align: top;

		&:hover .slider-item__img-lnk {
			background-color: rgba(0, 0, 0, 0.85);

			&::after {
				display: block;
			}
		}
	}
}

.slider-item__img-lnk {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	transition: all .2s linear;

	&::after {
		content: '';
		display: none;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -20px;

		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(@magnifying-glass);
	}
}

.slider-item__img-cnt-m {
	position: relative;
	max-width: 450px;
  margin: 0 auto;
	margin-top: 35px;

	&:hover .slider-item__img-lnk {
		background-color: rgba(0, 0, 0, 0.85);

		&::after {
			display: block;
		}
	}

	@media @laptop {
		display: none;
	}
}
.slider-item__img {
	width: 100%;
}

.slider-item__txt-cnt {
	vertical-align: top;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 300;

	@media @laptop {
		display: inline-block;
		width: 36%;
		padding-left: 40px;

	}
}
.slider-item__hdr {
	// margin-top: 10px;
	font-size: 26px;
	font-weight: 700;

	& a {
		text-decoration: none;
		color: #fefefe;
	}
}
.slider-item__list {
	margin-top: 30px;
}
.slider-item__list-item {
	margin-top: 15px;
	line-height: 1.2;

	&:first-child {
		margin-top: 0;
	}

	& strong {
		display: block;
		margin-bottom: 5px;
		font-weight: 700;
	}
}




.slider_arrw {
	width: 8px;
	height: 25px;
	position: absolute;
	top: 50%;
	margin-top: -12.5px;
	background-image: url(@slider-arrw);
	background-position: 0 0;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;


	&.left {
		left: -12px;
		transform: rotate(180deg);

		@media @tablet {
			left: -50px;
		}
	}
	&.right {
		right: -12px;

		@media @tablet {
			right: -50px;
		}
	}

	@media @tablet {
		width: 14px;
		height: 41px;
		margin-top: -20.5px;
	}
}