.heading {
	padding: 120px 0 120px 7.08%;
	font-size: 0;
}
.heading-txt {
	display: inline-block;
	vertical-align: top;
	width: 61.89%;
	max-width: 690px;
}
.heading-ttl {
	margin-top: 25px;
	margin-right: 5%;
}
.heading-sub {
	margin-top: 42px;
	margin-right: 5%;
	color: #dad9d9;
	font-size: 22px;
	font-weight: 300;
}
.heading-sub__pos {}
.heading-sub__age {}

.heading-dscr {
	font-family: 'Raleway', sans-serif;
	margin-top: 60px;
	margin-right: 15.5%;
	font-size: 18px;
	font-weight: 200;
	line-height: 28px;
}

.heading-dscr__txt {

	&:nth-child(n+1) {
		margin-top: 15px;
	}
}

.heading-img {
	display: inline-block;
	vertical-align: top;
	width: 38.11%;
	max-width: 425px;
}
.heading-img__img {
	width: 100%;
}