.footer {
	padding: 65px 0;

	@media @tablet {		
		padding: 105px 0;
	}
}


.footer-tel {
	text-align: center;
}
.footer-tel__numb {
	position: relative;
	padding-left: 45px;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #fff;

	@media @tablet {
		font-size: 18px;
		padding-left: 53px;
	}

	&:hover::after {
		box-shadow: 0px 0px 51px 9px #0085ce;
		background-color: rgba(0, 133, 206, 0.19);
	}

	&::before {
		content: '';
		width: 28px;
		height: 28px;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(@social-icn);
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: -108px -34px;
		transition: all 0.2s linear;
	}

	&::after {
		content: '';
		width: 0;
		height: 0;
		border-radius: 50%;
		position: absolute;
		top: 12px;
		left: 12px;
		transition: all 0.2s linear;
	}
}
.footer-mail,
.footer-skype {
	margin-top: 47px;
	text-align: center;
}

.footer-mail__txt,
.footer-skype__txt {
	position: relative;
	padding-left: 50px;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #fff;

	@media @tablet {
		padding-left: 70px;
		font-size: 18px;
	}
	
	&:hover::after {
		box-shadow: 0px 0px 51px 9px #0085ce;
		background-color: rgba(0, 133, 206, 0.19);
	}
	
	&::before {
		content: '';
		width: 35px;
		height: 28px;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(@social-icn);
    background-repeat: no-repeat;
		transition: all 0.2s linear;
	}

	&::after {
		content: '';
		width: 0;
		height: 0;
		border-radius: 50%;
		position: absolute;
		top: 12px;
		left: 15px;
		transition: all 0.2s linear;
	}
}

.footer-mail__txt {
	&::before {
    background-size: 210px;
    background-position: -171px 0px;
	}
}
.footer-skype__txt {
	&::before {
		top: -6px;
		width: 36px;
		height: 36px;
    background-size: 220px;
    background-position: -135px 0px;
	}
}




.footer-lnk{
	margin-top: 60px;
	text-align: center;

	@media @tablet {
		margin-top: 72px;
	}
}

.footer-lnk__itm {
	display: inline-block;
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
}

.footer-lnk__link {
	display: inline-block;
	width: 36px;
	height: 36px;
	position: relative;

	background-image: url(@social-icn);
	background-size: 221px;
  background-repeat: no-repeat;
  border-radius: 50%;
	transition: all 0.2s linear;


	&.linkedin {
	  background-position: -6px 0;

	  // &:hover {
	  // 	background-position: -6px -44px;
	  // }

	}
	&.github {
		background-position: -49px 0;

		// &:hover {
		// 	background-position: -49px -44px;
		// }
	}
	&.facebook {
		background-position: -92px 0;

		// &:hover {
		// 	background-position: -92px -44px;
		// }
	}

	&:hover{
		box-shadow: 0px 0px 46px -6px #0085ce;
	}

	// &::after {
	// 	content: '';
	// 	width: 0;
	// 	height: 0;
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	border-radius: 50%;
	// 	transition: all 0.2s linear;
	// }
}