*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-size: @basic-font-size;
	font-family: @main-font-family;
	color: @main-color;
}

.body_bg {
	height: 100%;
	width: 100%;
	background-color: #0e0e10;
}

