@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Quicksand:300,400,500,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: white;
}
.body_bg {
  height: 100%;
  width: 100%;
  background-color: #050507;
}
.bg-bevel {
  position: relative;
}
.bg-bevel::before {
  background-image: url('../img/dsg/triangle-up.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 15px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  top: 0;
}
@media only screen and (min-width: 768px) {
  .bg-bevel::before {
    height: 50px;
  }
}
.bg-bevel::after {
  background-image: url('../img/dsg/triangle-down.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 15px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 0;
}
@media only screen and (min-width: 768px) {
  .bg-bevel::after {
    height: 50px;
  }
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 0;
  }
}
@media only screen and (min-width: 980px) {
  .wrapper {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1170px) {
  .wrapper {
    max-width: 1100px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1200px;
  }
}
.title-h1 {
  font-size: 32px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .title-h1 {
    font-size: 48px;
  }
}
.title-h2 {
  font-size: 36px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .title-h2 {
    font-size: 48px;
  }
}
.hr-line {
  display: inline-block;
  margin-bottom: 25px;
  position: relative;
}
.hr-line::before {
  content: '';
  width: 115%;
  height: 4px;
  background-image: -webkit-linear-gradient(left, #020bc4 0%, #008bcf 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#020bc4), to(#008bcf));
  background-image: -o-linear-gradient(left, #020bc4 0%, #008bcf 100%);
  background-image: linear-gradient(to right, #020bc4 0%, #008bcf 100%);
  position: absolute;
  left: 0;
  bottom: -25px;
}
.heading {
  padding: 85px 0 140px;
}
@media only screen and (min-width: 768px) {
  .heading {
    padding: 120px 3% 120px 3%;
    font-size: 0;
  }
}
@media only screen and (min-width: 980px) {
  .heading {
    padding: 120px 7.08% 120px 0;
  }
}
@media only screen and (min-width: 768px) {
  .heading-txt {
    width: 61.89%;
    display: inline-block;
    max-width: 690px;
    vertical-align: top;
  }
}
@media only screen and (min-width: 768px) {
  .heading-ttl {
    margin-top: 25px;
    margin-right: 5%;
  }
}
.heading-sub {
  margin-top: 30px;
  color: #dad9d9;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  .heading-sub {
    margin-top: 42px;
    margin-right: 5%;
    font-size: 22px;
  }
}
.heading-dscr {
  font-family: 'Raleway', sans-serif;
  margin-top: 45px;
  font-size: 15px;
  font-weight: 200;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  .heading-dscr {
    margin-top: 60px;
    margin-right: 15.5%;
    font-size: 18px;
    line-height: 28px;
  }
}
.heading-dscr__txt:nth-child(n+2) {
  margin-top: 15px;
}
.heading-img {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .heading-img {
    display: inline-block;
    width: 38.11%;
    max-width: 425px;
    margin-top: 0;
    vertical-align: top;
  }
}
.heading-img__img {
  width: 100%;
}
.header-menu {
  text-align: right;
  position: relative;
}
.header-brgr-menu_pos {
  width: 32px;
  height: 29px;
  top: 20px;
  right: 20px;
}
.header-brgr-menu__stick {
  background-color: white;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}
.menu {
  display: none;
  position: fixed;
  padding-top: 40px;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
@media only screen and (min-width: 768px) {
  .menu {
    display: none !important;
  }
}
.menu__cont {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
.menu__item {
  margin: 0 auto;
  margin-top: 15px;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
}
.menu__item:hover .menu__link,
.menu__item:active .menu__link,
.menu__item:focus .menu__link {
  color: #0085ce;
}
.menu__link {
  color: white;
  text-decoration: none;
}
.skills-bg {
  background-image: url("../img/dsg/backgrounds/skills-bg-xs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 768px) {
  .skills-bg {
    background-image: url("../img/dsg/backgrounds/skills-bg-sm.jpg");
  }
}
@media only screen and (min-width: 980px) {
  .skills-bg {
    background-image: url("../img/dsg/backgrounds/skills-bg-md.jpg");
  }
}
@media only screen and (min-width: 1440px) {
  .skills-bg {
    background-image: url("../img/dsg/backgrounds/skills-bg-lg.jpg");
  }
}
.skills {
  padding: 100px 0 50px;
}
@media only screen and (min-width: 768px) {
  .skills {
    padding: 70px 3% 140px;
  }
}
@media only screen and (min-width: 980px) {
  .skills {
    padding: 70px 7.08% 140px 0;
  }
}
.skills-sub {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .skills-sub {
    margin-top: 70px;
    font-size: 22px;
  }
}
.skills-list {
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .skills-list {
    margin-top: 0;
  }
}
.skills-list__itm {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 95px;
  height: 95px;
  margin-right: 40px;
  margin-top: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
}
.skills-list__itm:last-child {
  margin-right: 0;
}
.skills-list__itm:nth-child(4) {
  font-size: 15px;
}
.skills-list__itm span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
.skills-list__itm:nth-child(4n+1) {
  -webkit-box-shadow: 1px 1px 4px -1px rgba(255, 255, 255, 0.75), 1px 0px 0px 1px transparent;
          box-shadow: 1px 1px 4px -1px rgba(255, 255, 255, 0.75), 1px 0px 0px 1px transparent;
}
.skills-list__itm:nth-child(4n+2) {
  -webkit-box-shadow: -1px -1px 4px -1px rgba(255, 255, 255, 0.75), 1px 0px 0px 1px transparent;
          box-shadow: -1px -1px 4px -1px rgba(255, 255, 255, 0.75), 1px 0px 0px 1px transparent;
}
.skills-list__itm:nth-child(4n+3) {
  -webkit-box-shadow: -1px 0px 4px -1px rgba(255, 255, 255, 0.75), 1px 0px 0px 1px transparent;
          box-shadow: -1px 0px 4px -1px rgba(255, 255, 255, 0.75), 1px 0px 0px 1px transparent;
}
.skills-list__itm:nth-child(4n+4) {
  -webkit-box-shadow: -1px 1px 4px -1px rgba(255, 255, 255, 0.75), 1px 0px 0px 1px transparent;
          box-shadow: -1px 1px 4px -1px rgba(255, 255, 255, 0.75), 1px 0px 0px 1px transparent;
}
@media only screen and (min-width: 768px) {
  .skills-list__itm {
    margin-top: 40px;
    margin-right: 60px;
  }
}
.tools-list {
  margin-top: 25px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .tools-list {
    font-size: 16px;
  }
}
.tools-list__itm {
  position: relative;
  padding-left: 35px;
  margin-top: 25px;
}
.tools-list__itm:first-child {
  margin-top: 0;
}
.tools-list__itm::before {
  content: '';
  display: block;
  width: 16px;
  height: 17px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/dsg/marker-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .tools-list__itm {
    margin-top: 20px;
  }
}
.edu {
  padding: 70px 0 25px;
}
@media only screen and (min-width: 768px) {
  .edu {
    padding: 105px 3% 180px;
  }
}
@media only screen and (min-width: 980px) {
  .edu {
    padding: 105px 7.08% 180px 0;
  }
}
.edu-track {
  margin-top: 70px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .edu-track {
    margin-top: 160px;
  }
}
.edu-track__track-cont {
  position: relative;
  width: 32%;
  max-width: 120px;
  min-width: 100px;
}
@media only screen and (min-width: 768px) {
  .edu-track__track-cont {
    max-width: none;
    min-width: auto;
    width: 100%;
    padding-bottom: 135px;
  }
}
.edu-track__track {
  display: none;
}
@media only screen and (min-width: 768px) {
  .edu-track__track {
    display: inline-block;
    width: 100%;
  }
}
.edu-track__track-m {
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .edu-track__track-m {
    display: none;
  }
}
.edu-track__2010-txt {
  display: inline-block;
  position: absolute;
  width: 68%;
  max-width: 250px;
  top: 57%;
  right: 40%;
  -webkit-transform: translate(100px);
  -ms-transform: translate(100px);
  -o-transform: translate(100px);
     transform: translate(100px);
}
@media only screen and (min-width: 768px) {
  .edu-track__2010-txt {
    width: auto;
    max-width: 235px;
    top: 120px;
    left: 12%;
    right: auto;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
       transform: none;
  }
}
@media only screen and (min-width: 980px) {
  .edu-track__2010-txt {
    left: 15%;
  }
}
@media only screen and (min-width: 1170px) {
  .edu-track__2010-txt {
    left: 18%;
  }
}
.edu-track__hdr {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.edu-track__dscr {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}
.edu-track__dscr em {
  font-style: italic;
}
.edu-track__2016-txt {
  display: inline-block;
  position: absolute;
  width: 68%;
  max-width: 250px;
  top: 26%;
  right: 40%;
  -webkit-transform: translate(100px);
  -ms-transform: translate(100px);
  -o-transform: translate(100px);
     transform: translate(100px);
}
@media only screen and (min-width: 768px) {
  .edu-track__2016-txt {
    width: auto;
    max-width: 170px;
    top: 120px;
    left: 55.5%;
    right: auto;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
       transform: none;
  }
}
@media only screen and (min-width: 980px) {
  .edu-track__2016-txt {
    left: 56.5%;
  }
}
@media only screen and (min-width: 1170px) {
  .edu-track__2016-txt {
    left: 58.5%;
  }
}
.exp-bg {
  background-image: url("../img/dsg/backgrounds/experience-bg-xs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 768px) {
  .exp-bg {
    background-image: url("../img/dsg/backgrounds/experience-bg-sm.jpg");
  }
}
@media only screen and (min-width: 980px) {
  .exp-bg {
    background-image: url("../img/dsg/backgrounds/experience-bg-md.jpg");
  }
}
@media only screen and (min-width: 1440px) {
  .exp-bg {
    background-image: url("../img/dsg/backgrounds/experience-bg-lg.jpg");
  }
}
.exp {
  padding: 70px 0 90px;
}
@media only screen and (min-width: 768px) {
  .exp {
    padding: 55px 3% 120px;
  }
}
@media only screen and (min-width: 980px) {
  .exp {
    padding: 55px 0 120px;
  }
}
.exp-slider {
  margin: 65px 10px 0;
}
@media only screen and (min-width: 768px) {
  .exp-slider {
    margin: 65px 25px 0;
  }
}
@media only screen and (min-width: 980px) {
  .exp-slider {
    margin: 120px 50px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .exp-slider {
    margin: 120px 65px 0;
  }
}
.slider {
  position: relative;
}
.slider-inner {
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}
.slider-item {
  width: 100%;
  display: inline-block;
  white-space: normal;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.slider-item__img-cnt {
  display: none;
}
@media only screen and (min-width: 980px) {
  .slider-item__img-cnt {
    display: inline-block;
    width: 55%;
    position: relative;
    vertical-align: top;
  }
  .slider-item__img-cnt:hover .slider-item__img-lnk {
    background-color: rgba(0, 0, 0, 0.85);
  }
  .slider-item__img-cnt:hover .slider-item__img-lnk::after {
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  .slider-item__img-cnt {
    width: 64%;
  }
}
@media only screen and (min-width: 1440px) {
  .slider-item__img-cnt {
    width: 58%;
  }
}
.slider-item__img-lnk {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.slider-item__img-lnk::after {
  content: '';
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/dsg/magnifying-glass.svg");
}
.slider-item__img-cnt-m {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 35px;
}
.slider-item__img-cnt-m:hover .slider-item__img-lnk {
  background-color: rgba(0, 0, 0, 0.85);
}
.slider-item__img-cnt-m:hover .slider-item__img-lnk::after {
  display: block;
}
@media only screen and (min-width: 980px) {
  .slider-item__img-cnt-m {
    display: none;
  }
}
.slider-item__img {
  width: 100%;
}
.slider-item__txt-cnt {
  vertical-align: top;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media only screen and (min-width: 980px) {
  .slider-item__txt-cnt {
    display: inline-block;
    padding-left: 40px;
    width: 45%;
  }
}
@media only screen and (min-width: 1170px) {
  .slider-item__txt-cnt {
    width: 36%;
  }
}
@media only screen and (min-width: 1440px) {
  .slider-item__txt-cnt {
    width: 42%;
  }
}
.slider-item__hdr {
  font-size: 26px;
  font-weight: 700;
}
.slider-item__hdr a {
  text-decoration: none;
  color: #fefefe;
}
.slider-item__list {
  margin-top: 30px;
}
.slider-item__list-item {
  margin-top: 15px;
  line-height: 1.2;
}
.slider-item__list-item:first-child {
  margin-top: 0;
}
.slider-item__list-item strong {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}
.slider_arrw {
  width: 14px;
  height: 41px;
  position: absolute;
  top: 50%;
  margin-top: -12.5px;
  background-image: url("../img/dsg/arrw.svg");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider_arrw.left {
  left: -20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
     transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .slider_arrw.left {
    left: -45px;
  }
}
@media only screen and (min-width: 1170px) {
  .slider_arrw.left {
    left: -50px;
  }
}
.slider_arrw.right {
  right: -20px;
}
@media only screen and (min-width: 768px) {
  .slider_arrw.right {
    right: -45px;
  }
}
@media only screen and (min-width: 1170px) {
  .slider_arrw.right {
    right: -50px;
  }
}
@media only screen and (min-width: 768px) {
  .slider_arrw {
    margin-top: -20.5px;
  }
}
.footer {
  padding: 65px 0;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 105px 0;
  }
}
.footer-tel {
  text-align: center;
}
.footer-tel__numb {
  position: relative;
  padding-left: 45px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 768px) {
  .footer-tel__numb {
    font-size: 18px;
    padding-left: 53px;
  }
}
.footer-tel__numb:hover::after {
  -webkit-box-shadow: 0px 0px 51px 9px #0085ce;
          box-shadow: 0px 0px 51px 9px #0085ce;
  background-color: rgba(0, 133, 206, 0.19);
}
.footer-tel__numb::before {
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/dsg/social_sprite.svg");
  background-size: 175px;
  background-repeat: no-repeat;
  background-position: -108px -34px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer-tel__numb::after {
  content: '';
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer-mail,
.footer-skype {
  margin-top: 47px;
  text-align: center;
}
.footer-mail__txt,
.footer-skype__txt {
  position: relative;
  padding-left: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 768px) {
  .footer-mail__txt,
  .footer-skype__txt {
    padding-left: 70px;
    font-size: 18px;
  }
}
.footer-mail__txt:hover::after,
.footer-skype__txt:hover::after {
  -webkit-box-shadow: 0px 0px 51px 9px #0085ce;
          box-shadow: 0px 0px 51px 9px #0085ce;
  background-color: rgba(0, 133, 206, 0.19);
}
.footer-mail__txt::before,
.footer-skype__txt::before {
  content: '';
  width: 35px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/dsg/social_sprite.svg");
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer-mail__txt::after,
.footer-skype__txt::after {
  content: '';
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 15px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer-mail__txt::before {
  background-size: 210px;
  background-position: -171px 0px;
}
.footer-skype__txt::before {
  top: -6px;
  width: 36px;
  height: 36px;
  background-size: 220px;
  background-position: -135px 0px;
}
.footer-lnk {
  margin-top: 60px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-lnk {
    margin-top: 72px;
  }
}
.footer-lnk__itm {
  display: inline-block;
  margin-right: 30px;
}
.footer-lnk__itm:last-child {
  margin-right: 0;
}
.footer-lnk__link {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: relative;
  background-image: url("../img/dsg/social_sprite.svg");
  background-size: 221px;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer-lnk__link.linkedin {
  background-position: -6px 0;
}
.footer-lnk__link.github {
  background-position: -49px 0;
}
.footer-lnk__link.facebook {
  background-position: -92px 0;
}
.footer-lnk__link:hover {
  -webkit-box-shadow: 0px 0px 46px -6px #0085ce;
          box-shadow: 0px 0px 46px -6px #0085ce;
}
#brgr-menu.active .stick-1 {
  -webkit-transform: rotate(45deg) translateY(-4.5px) translateX(7px);
  -ms-transform: rotate(45deg) translateY(-4.5px) translateX(7px);
  -o-transform: rotate(45deg) translateY(-4.5px) translateX(7px);
     transform: rotate(45deg) translateY(-4.5px) translateX(7px);
}
#brgr-menu.active .stick-2 {
  display: none;
}
#brgr-menu.active .stick-3 {
  -webkit-transform: rotate(-45deg) translateX(6.5px) translateY(4.5px);
  -ms-transform: rotate(-45deg) translateX(6.5px) translateY(4.5px);
  -o-transform: rotate(-45deg) translateX(6.5px) translateY(4.5px);
     transform: rotate(-45deg) translateX(6.5px) translateY(4.5px);
}
.brgr-menu {
  display: block;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .brgr-menu {
    display: none;
  }
}
.brgr-menu__stick {
  display: block;
  height: 16%;
  width: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
@media only screen and (min-width: 768px) {
  .brgr-menu__stick {
    display: none;
  }
}
.stick-1 {
  top: 0;
  -webkit-transform-origin: 0% 0% 0;
  -ms-transform-origin: 0% 0% 0;
  -o-transform-origin: 0% 0% 0;
     transform-origin: 0% 0% 0;
}
.stick-2 {
  top: -webkit-calc(42%);
  top: calc(42%);
}
.stick-3 {
  bottom: 0;
  -webkit-transform-origin: 0% 100% 0;
  -ms-transform-origin: 0% 100% 0;
  -o-transform-origin: 0% 100% 0;
     transform-origin: 0% 100% 0;
}
.dot-nav {
  display: none;
}
@media only screen and (min-width: 980px) {
  .dot-nav {
    position: fixed;
    display: block;
    right: 34px;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
       transform: translateY(-50%);
  }
}
.dot-nav__item {
  margin-top: 15px;
  text-align: right;
  line-height: 16px;
  font-size: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.dot-nav__item:hover {
  font-size: 16px;
}
.dot-nav__link {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  text-decoration: none;
  color: #f2f2f2;
}
.dot-nav__link::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  right: 0;
}
.dot-nav__link.active {
  color: #0279c4;
}
.dot-nav__link.active::before {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #0279c4 0%, #00abcf 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#0279c4), to(#00abcf));
  background-image: -o-linear-gradient(left, #0279c4 0%, #00abcf 100%);
  background-image: linear-gradient(to right, #0279c4 0%, #00abcf 100%);
}