//@media screens
@mobileS:~"only screen and (min-width: 320px)";
@mobileL:~"only screen and (min-width: 426px)";
@tablet:~"only screen and (min-width: 768px)";
@laptop:~"only screen and (min-width: 980px)";
@laptopL:~"only screen and (min-width: 1170px)";
@4k:~"only screen and (min-width: 1440px)";

// @media @mobileS {}
// @media @mobileL {}
// @media @tablet {}
// @media @laptop {}
// @media @laptopL {}
// @media @4k {}


//common
@basic-font-size: 10px;
@main-font-weight: 400;
@main-font-family: 'Raleway', sans-serif;
@main-color:#fff;


//heading
@slider-arrow-img: "../../../img/dsg/slider-arrow.png";

// skills
@skills-bg: "../../../img/dsg/backgrounds/skills.png";
@marker-1: "../../../img/dsg/marker-1.svg";

// edu
@track-img: "../../../img/dsg/track.svg";
@rocket-img: "../../../img/dsg/rocket.svg";

// exp
@exp-bg: "../../../img/dsg/backgrounds/exp.png";
@magnifying-glass: "../../../img/dsg/magnifying-glass.svg";

// slider
@slider-arrw: "../../../img/dsg/arrw.svg";

// footer
@social-icn: "../../../img/dsg/social_sprite.svg";
