//@media screens
@mobileS:~"only screen and (min-width: 320px)";
@mobileL:~"only screen and (min-width: 426px)";
@tablet:~"only screen and (min-width: 768px)";
@laptop:~"only screen and (min-width: 980px)";
@laptopL:~"only screen and (min-width: 1170px)";
@4k:~"only screen and (min-width: 1440px)";


//common
@basic-font-size: 10px;
@main-font-weight: 400;
@main-font-family: 'Raleway', sans-serif;
@main-color:#fff;
@bg-triangle-up: '../../../img/dsg/triangle-up.svg';
@bg-triangle-down: '../../../img/dsg/triangle-down.svg';


//heading
@slider-arrow-img: "../../../img/dsg/slider-arrow.png";

// skills
@skills-bg-lg: "../../../img/dsg/backgrounds/skills-bg-lg.jpg";
@skills-bg-md: "../../../img/dsg/backgrounds/skills-bg-md.jpg";
@skills-bg-sm: "../../../img/dsg/backgrounds/skills-bg-sm.jpg";
@skills-bg-xs: "../../../img/dsg/backgrounds/skills-bg-xs.jpg";


@marker-1: "../../../img/dsg/marker-1.svg";

// edu
@track-img: "../../../img/dsg/track.svg";
@rocket-img: "../../../img/dsg/rocket.svg";

// exp
@exp-bg-lg: "../../../img/dsg/backgrounds/experience-bg-lg.jpg";
@exp-bg-md: "../../../img/dsg/backgrounds/experience-bg-md.jpg";
@exp-bg-sm: "../../../img/dsg/backgrounds/experience-bg-sm.jpg";
@exp-bg-xs: "../../../img/dsg/backgrounds/experience-bg-xs.jpg";

@magnifying-glass: "../../../img/dsg/magnifying-glass.svg";

// slider
@slider-arrw: "../../../img/dsg/arrw.svg";

// footer
@social-icn: "../../../img/dsg/social_sprite.svg";
